@font-face {
	font-family: "PT Sans";
	font-weight: 400;
	font-style: normal;
	src: local("PT Sans"),
		url("../fonts/PTSans.woff2") format("woff2"),
		url("../fonts/PTSans.woff") format("woff");
} 

@font-face {
	font-family: "PT Sans";
	font-weight: 700;
	font-style: normal;
	src: local("PT Sans-Bold"),
		url("../fonts/PTSans-Bold.woff2") format("woff2"),
		url("../fonts/PTSans-Bold.woff") format("woff");
}

:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --special-text-black: #333333;
  --basic-blue: #81B3D2;
  --hover-blue: #669EC0;
  --active-blue: #5496BD;
  --basic-brown: #766357;
  --hover-brown: #604E43;
  --active-brown: #503E33;
  --basic-grey: #F2F2F2;
  --disabled-grey: #6A6A6A;
  --feature-grey: #EEEEEE;
  --hower-grey: #EBEBEB;
  --focus-border-grey: #E5E5E5;
  --button-basic-grey: #A9A9A9;
  --button-updown-basic: #CACACA;
  --rating-text-grey: #666666;
  --basic-htmlacademy-grey: #231F20;
  --active-htmlacademy-grey: #BDBBBC;
  --transparent-white: rgba(255, 255, 255, 0.9);
}

.page-body {
  min-width: 1200px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--special-text-black);
  background-color: var(--basic-white);
}

.main-nav-list {
	list-style: none;
	text-transform: uppercase;
	text-align: center;
}

.logo {
	background: url("../img/logo.png") no-repeat center;
	background-color: var(--basic-blue);
}

.subtitle {
	font-size: 21px;
	text-transform: uppercase;
	font-weight: bold;
}

.text-uppercase { 
	text-transform: uppercase; 
	}

.text-tall {
	line-height: 26px;
}

.text-low {
	line-height: 21px;
}

.text-white {
	color: var(--basic-white);
}

.text-black {
	color: var(--basic-black);
}

.text-bold {
	font-weight: bold;
}

.link-unmarked {
	text-decoration: none;
}

.header-bg-cut {
	background: url("../img/sedona-lanscape-cut.svg") no-repeat;
}

.img-bg-white {
	background-color: var(--basic-white);
}

.img-bg-blue {
	background-color: var(--basic-blue);
}

.img-bg-hover-blue {
	background-color: var(--hover-blue);
}

.subtitle-call-to-action {
	font-size: 30px;
	line-height: 24px;
	color: var(--basic-black);
}

.button-blue {
	background-color: var(--basic-blue);
}

.button-blue:hover {
	background-color: var(--hover-blue);
}

.button-blue:active {
	background-color: var(--active-blue);
}

.button-brown {
	background-color: var(--basic-brown);
}

.button-brown:hover {
	background-color: var(--hover-brown);
}
.button-brown:active {
	background-color: var(--active-brown);
}

.button-big {
	background-size: 568px 86px;/* Тоже непонял почему не работает */
}

.button-transparent {
	background-color: transparent;
	border: 2px solid var(--basic-white);
	border-radius: 2px;
	color: var(--basic-white);
}

.main-footer {
	background-color: var(--transparent-white);/*Не уверен, нужно ли было выносить полупрозрачный в отдельный цвет  */
	text-align: center;
}

.social-button {
	background-color: var(--basic-blue);
}

.social-button:hover {
	background-color: var(--hover-blue);
}

.social-button:active {
	background-color: var(--active-blue);
}

.twitter-button {
	background: url("../img/twitter.png") no-repeat;/* и здесь непонял почему не работает */
}

.facebook-button {
	background: url("../img/facebook.png") no-repeat;
}

.youtube-button {
	background: url("../img/youtube.png") no-repeat;
}

.list-unmarked {
	list-style: none;
	border: 0 none;
}

.visually-hidden {
	visibility: hidden;
}

.main-nav-list .link:hover {
	color: var(--hover-blue);
}

.main-nav-list .link:active {
	color: var(--basic-black);
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	opacity: 0.3;
	-webkit-text-stroke: 1px black;
}

.feature-list {
	background-color: var(--feature-grey);
	text-align: center;
}

.header-images,
.call-to-action,
.feature {
	text-align: center;
}

.filter-title {
	font-size: 16px;
}

.offer-filter {
	background: url("../img/filter-background.jpg") no-repeat;
}

.search-results {
	text-align: left;
	color: var(--basic-black);
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
}

.button-filter-price {
	color: var(--basic-blue);
}

.button-filter-type {
	color: var(--basic-black);
	opacity: 0.3;
}

.button-filter-rate {
	color: var(--basic-black);
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	opacity: 0.3;
	-webkit-text-stroke: 1px black;
}

.button-text-underline {
	border-bottom: 1px dotted var(--basic-blue);
}

.button-filter-rate:hover {
	color: var(--basic-blue);
	opacity: 1;
}

.button-up:hover {
	background: url("../img/arrow-up-hover.svg") no-repeat;
}

.button-down:hover {
	background: url("../img/arrow-down-hover.svg") no-repeat;
}

.button-up:active {
	background: url("../img/arrow-up-active.svg") no-repeat;
}

.button-down:active {
	background: url("../img/arrow-down-active.svg") no-repeat;
} /*Пока не знаю как работать со слоями, когда элемент частично размещен html и частично в css*/

.results-item {
	text-align: left;
	border-top: 1px solid var(--focus-border-grey);
	border-bottom: 1px solid var(--focus-border-grey);
}

.results-item .subtitle:hover {
	color: var(--basic-blue);
}

.results-item .subtitle:active {
	color: var(--basic-black);
	opacity: 0.3;
}

.button-rating {
	background-color: var(--basic-grey);
	color: var(--rating-text-grey);
	text-align: center;
	border: 0px;
	text-transform: uppercase;
}

.rating-star {
	background-image: url("../img/rating-star.svg");
	background-size: 19px 17px;
}